@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelifySans";
  src: url("/PixelifySans.ttf");
}

:root {
  font-family: 'PixelifySans';
  height: 100%;
  width: 100%;
  max-width: 100%;
  --background: #ffffff;
  --foreground: #0a0a0a;
  margin: 0;
}

.vanga {
  position: relative;
  background-image: url('/Vector.png');
  background-size: 100% 100%;
  min-height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.vanga::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
}

root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
