.bottomNav {
    margin: 816px 0 0;
    padding: 200px 0 24px 0;
    display: flex;
    background: #000;
}

.bottomNav .wrapper {
    display: flex;
    gap: 10px;
}

.bottomNav__logo {
    flex: 1 45%;
    height: 345px;
    position: relative;
}

.bottomNav__logo .nav-logo {
    justify-content: flex-start;
    position: relative;
    z-index: 5;
    margin: 24px 0 0 24px;

}

.bottomNav__info {
    flex: 1 45%;
    padding: 24px;
    background: #181A28;
    border-radius: 6px;
}

.bottomNav__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 6px;
    object-fit: cover;
}

.bottomNav__title {
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
}

.bottomNav__title.last {
    margin-bottom: 105px;
}

.bottomNav__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #525661;
    margin-bottom: 14px;
}

.bottomNav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomNav__link {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Outfit';
}

.bottomNav__link:hover {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .bottomNav {
        padding: 0px 0 24px;
    }

    .bottomNav .wrapper {
        flex-direction: column;
    }

    .bottomNav__logo {
        flex: 1 100%;
        width: 100%;
        overflow: hidden;
    }

    .bottomNav__logo .nav-logo {
        margin: 0px;
        padding: 24px 24px 210px;
    }

    .bottomNav__info {
        flex: 1 100%;
    }

    .bottomNav__title {
        font-size: 34px;
        line-height: 36px;
    }
}

@media screen and (max-width: 768px) {
    .bottomNav {
        margin: 550px 0 0;
    }

    .bottomNav__link {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 500px) {
    .bottomNav {
        /* margin: 680px 0 0; */
    }
}