/*.header-container {*/
/*    max-width: 100%;*/
/*    margin: 10px 10px 10px 10px;*/
/*    background: #3F45524D;*/
/*    padding: 10px 10px 10px 10px;*/
/*}*/

/*.header-content {*/
/*    display: flex;*/
/*    align-items: center; !* Vertically center items *!*/
/*    justify-content: space-between; !* Distribute space between items *!*/
/*    width: 100%; !* Ensure full width *!*/
/*}*/

.header-container {
    max-width: 100%;
    margin: 30px 20px 30px 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #3F45524D; /* Add a border */
    border-radius: 12px; /* Rounded corners */
    background-color: #3F45524D; /* Optional: Add a background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a better look */
}

.header-content {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Distribute space between items */
}


.text-vanga{
    font-size: x-large;
    font-weight: bold;
}
